@use "../../partials//mixins" as *;

.ImageSlider {
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  position: relative;
  &__slide {
    height: 100%;
    width: 100%;
    transition: 750ms all ease-in-out;
    // border: 1px solid green;
    flex-shrink: 0;
    background-position: center;
    background-size: cover;
  }
  .childrenWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
  }
  a {
    text-decoration: none;
    overflow: hidden;
  }
  .pricing-btn {
    @include Btn;
    bottom: 50px;
    left: 46%;
    transform: translate(-50%, -50%);
    padding: 1.5rem 7rem;
  }
}

.pricing-btn {
  @include btn-box-showdow;
}

@keyframes mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(255, 0, 200, 0.5),
      4em -1em 2em 3em rgba(255, 50, 0, 0.8),
      -4em 2em 3em 2em rgba(155, 200, 0, 0.5),
      -4em -2em 2em 2em rgba(200, 0, 150, 0.6),
      0 3em 2em 2em rgba(20, 250, 0, 0.5),
      2em 1em 2em 2em rgba(50, 10, 250, 0.5);
  }

  60% {
    box-shadow: 2em 1em 2em 3em rgba(55, 0, 200, 0.5),
      3em 1em 2em 3em rgba(25, 150, 0, 0.6),
      3em -2em 3em 3em rgba(155, 200, 0, 0.5),
      -4em 2em 2em 3em rgba(200, 0, 50, 0.6),
      0 -3em 2em 3em rgba(200, 250, 0, 0.5),
      -2em 1em 2em 3em rgba(50, 210, 250, 0.6);
  }
}

.pricing-btn {
  @include btn-background;
}
