.music {
  position: absolute;
  color: #fff;
  right: 10px;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: yellowgreen;
  cursor: pointer;
}
.play {
  background-color: #fff;
  font-size: 1rem;
}
