@use "../../../partials/mixins" as *;

.music {
  position: absolute;
  color: #fff;
  right: 500px;
  top: 0;
  cursor: pointer;
  transition: background-image 2s ease-in-out;
  background-size: 200%;
  &__play-btn {
    @include btn-style;
    @include btn-background;
    padding: 12rem 11rem;
    background: transparent;
    transition: background-image 2s ease-in-out;
    border-radius: 50px;
    background-image: none;
    &:hover {
      background-image: none;
    }
  }
}
