.sound {
  background-color: rgba(221, 71, 73);
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  &__tryBtn {
    position: absolute;
    top: 70px;
    right: 50px;
  }
  &__tryBtn button {
    padding: 1rem 3rem;
    letter-spacing: 1px;
  }
  .btn {
    margin-top: 60px;
    padding: 1.5rem 6rem;
    letter-spacing: 1px;
  }
  button {
    border-radius: 50px;
    border: none;
    outline: none;
    color: rgba(221, 71, 73);
    font-size: 0.9rem;
    font-weight: 700;
  }
  &__top h1 {
    font-size: 3.2rem;
    color: #fff;
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 10px;
  }
  &__top p {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(28, 27, 27);
    letter-spacing: 3px;
  }
  .sound__tryBtn {
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 0.8rem 2.5rem;
    background-color: #fff;
    color: lightcoral;
    z-index: 10000;
    margin-top: -30px;
  }
  .sound__tryBtn a {
    color: lightcoral !important;
    font-weight: bold;
  }
}
