@import "./variables";

@mixin btn-style {
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  padding: 2rem 5rem;
  overflow: hidden;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 0.8em;
  margin: 6em;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
  color: #fff;
}
@mixin Btn {
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  position: absolute;
  overflow: hidden;
  letter-spacing: 4px;
  font-weight: 400;
  font-size: 0.8em;
  margin: 4em;
  color: #fff !important;
  background-color: transparent;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "TRY IT NOw";
    color: #fff !important;
    font-weight: 800;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff !important;
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
  }
}

@mixin btn-price {
  &::after,
  &::before {
    content: "";
    font-size: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff !important;
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
  }
}
@mixin btn-hover {
  &::after,
  &::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #fff !important;
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
    color: #fff;
  }
}

@mixin btn-box-showdow {
  &::before {
    box-shadow: 0 1em 2em 3em rgba(181, 36, 0, 0.5),
      4em 0em 2em 2em rgba(117, 37, 0, 0.6),
      -4em -2em 2em 2em rgba(134, 0, 78, 0.5),
      -4em 2em 2em 4em rgba(0, 0, 105, 0.5),
      0 -3em 2em 3em rgba(120, 250, 0, 0.5),
      2em -1em 2em 2em rgba(50, 10, 200, 0.5);
    width: 50%;
    height: 0px;
    animation: mix 5s linear infinite;
    color: #fff;
  }
}

@mixin btn-background {
  &::after {
    background: transparent !important;
    color: $bg-color !important;
    color: #fff;
  }
}
